header {
    grid-area: header;
}

/* nav bar - Foundation */
.topbar-responsive {
    background: #192A51;
    padding: 1rem 1.5rem;
}

.topbar-responsive .topbar-responsive-logo {
    color: #F6F7EB;
    vertical-align: middle;
}

.topbar-responsive .menu {
    background: #192A51;
}

.topbar-responsive .menu li:last-of-type {
    margin-right: 0;
}

.topbar-responsive .menu a {
    color: #F6F7EB;
    transition: color 0.15s ease-in;
}

.topbar-responsive .menu a:hover {
    color: #c6d1d8;
}

@media screen and (max-width: 39.9375em) {
    .topbar-responsive .menu a {
        padding: 0.875rem 0;
    }
}

.topbar-responsive .menu .topbar-responsive-button {
    color: #F6F7EB;
    border-color: #F6F7EB;
    border-radius: 5000px;
    transition: color 0.15s ease-in, border-color 0.15s ease-in;
}

.topbar-responsive .menu .topbar-responsive-button:hover {
    color: #c6d1d8;
    border-color: #c6d1d8;
}

@media screen and (max-width: 39.9375em) {
    .topbar-responsive .menu .topbar-responsive-button {
        width: 100%;
        margin: 0.875rem 0;
    }
}

@media screen and (max-width: 39.9375em) {
    .topbar-responsive {
        padding: 0.75rem;
    }

    .topbar-responsive .top-bar-title {
        position: relative;
        width: 100%;
    }

    .topbar-responsive .top-bar-title span {
        position: absolute;
        right: 0;
        border: 1px solid #F6F7EB;
        border-radius: 5px;
        padding: 0.25rem 0.45rem;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    .topbar-responsive .top-bar-title span .menu-icon {
        margin-bottom: 4px;
    }
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-webkit-keyframes slideDown {
    0% {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }

    100% {
        -webkit-transform: translateY(0%);
        transform: translateY(0%);
    }
}

@keyframes slideDown {
    0% {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }

    100% {
        -webkit-transform: translateY(0%);
        transform: translateY(0%);
    }
}

@media screen and (max-width: 100%) {
    .topbar-responsive-links {
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        -webkit-animation-duration: 0.5s;
        animation-duration: 0.5s;
        width: 100%;
        -webkit-animation: fadeIn 1s ease-in;
        animation: fadeIn 1s ease-in;
    }
}

/*  search bar container  and grid styling

sidebar is going the same as results-showcase

content is the same as results

header is same, footer is the same*/
section {
    background: url(../img/denver1.webp) no-repeat 0 -400px url(../img/hockey1.jpeg) no-repeat 0 -400px url(../img/festival1.jpeg) no-repeat 0 -400px url(../img/theater.jpeg) no-repeat 0 -400px url(../img/showcase3.jpg) no-repeat 0 -400px;

    color: white;
    width: 100%;
    height: 100%;
    padding: 15%;
    min-height: 400px;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    /* align-items: stretch; */
}
.wrapper{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 400px 600px 600px;
    grid-template-areas:
    "header  header  header"
    "sidebar results results"
    "footer  footer  footer";
    background-color: #fff;
}
.results-showcase{
    grid-area: sidebar;
}
.container-results{
    grid-area: results;
    position: relative;
};


/* search bar  */
.input-group-rounded .input-group-field {
    border-radius: 5000px 0 0 5000px;
    padding-left: 1rem;
}

.input-group-rounded .input-group-button .button {
    border-radius: 0 5000px 5000px 0;
    font-size: 0.8rem;
}



/* search results container */


/* footer */
footer {
    grid-area: footer;
    background: #192A51;
    padding: 1rem 1.5rem;
    color: #F6F7EB;
    text-align: center;
    height: 100%;
}


/* @media  */
@media(max-width:768px) {

    header #branding,
    header nav,
    header nav li {
        float: none;
        text-align: center;
        width: 100%;
    }

    header {
        padding-bottom: 20px;

    }
}

img {
    height: auto;
    max-width: 100%;
}

.showcase-container {
    display:grid;
    gap:10px;
    padding:10px;
}